// Vista principal de la pagina

ion-content{
    --background: #E6EFE9;
  }
  
  // Barra de links de abajo
  
  ion-tab-bar{
    --background: #64b6ac;
  }
  
  ion-tab-bar ion-label{
    color: #FFFFFF;
  }
  
  // Iconos
  
  ion-icon{
    color: #FFFFFF;
  }

  ion-card{
    background-color:#5d737e;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0.6, 0.6, 0.6, 0.6);;
  }