<!-- Parte del titulo -->

<ion-header [translucent]="true">
  <ion-toolbar class="titulo">
    <ion-title>
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Codigo de la pagina en si -->

<ion-content [fullscreen]="true">

  <!-- Parte superior de la pagina -->

  <div class="parte_sup">

    <ion-button [routerLink]="['/login']">Iniciar sesion</ion-button>
    <ion-button [routerLink]="['/register']">Crear una cuenta</ion-button>
    
    <!-- Imagen -->

    <div>
      <img class="imagen" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    </div>

  </div>

  <!-- Modificar reseñas (idea) -->

  <div class="parte_inf">
    <strong>AAAAAAAA</strong>
    <p>Hola</p>
  </div>


</ion-content>


<!-- Logo idea: Bisonte con una camara de pelicula -->
