<ion-content>

  <div class="log_form">

    <ion-list class="acomodarlaweaaa">

      <p>¡Crea tu cuenta y unete a la comunidad!</p>

      <ion-item-group>
          <ion-item class="centrar_input">
            <ion-label position="stacked">Usuario:</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>

          <ion-item class="centrar_input">
            <ion-label position="stacked">Correo electronico:</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>

          <ion-item class="centrar_input">
            <ion-label position="stacked">Contraseña:</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
      </ion-item-group>

      
      <ion-button class="but_log">Crear cuenta</ion-button>

    </ion-list>

  </div>

  <div class="fondo">
    <div class="forma"></div>
    <div class="forma"></div>
  </div>  

</ion-content>  
